# exclude everything
.spyproject
__pycache__
todo.txt

plots
results
documentation
saved_models/*
tensorboard/*
data/intermediate_data/modeling/*
data/intermediate_data/fixed_bandits/*
data/intermediate_data/pca/*
data/rnn_raw_data/*

# exception
!saved_models/.gitkeep
!tensorboard/.gitkeep
!scripts/.gitkeep
!saved_models/.gitkeep
!save_models/.gitkeep
!data/rnn_raw_data/.gitkeep
!data/intermediate_data/modeling/.gitkeep
!data/intermediate_data/fixed_bandits/.gitkeep
!data/intermediate_data/pca/.gitkeep
!scripts/.gitkeep